body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  color: #222;
}

h1 {
  font-family:  Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 100;
  color: #222;
}

#front-page {
  text-align: center;
}

ul {
  text-decoration: none;
  list-style: none;
}

li :hover {
  font-style: italic;
}
