a {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}

a:hover {
  color: lightblue;
}

a:active {
  color: pink;
}

.blurb {
  width: 35%;
  padding: 10px;
  line-height: 2;
  margin: auto;
}
.font {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
}

.line {
  margin-bottom: 15px;
  margin-top: 40px;
  border-top: 1px solid #7f8c8d;
  width: 20%;
}
.middle {
  text-align: center;
  margin: auto;
}

.contact {
  line-height: 1.5;
  width: 30%;
}
.talks {
  margin: auto;
  width: 40%;
  line-height: 1.5;
  list-style-type: square;
  list-style-position: inside;
}

.round {
  margin: auto;
  display: block;
  /*border: 1px solid darkgray;*/
  width: 15%;
  height: 15%;
  border-radius: 50%;
}

.square {
  margin: auto;
  display: block;
  border: 1px solid darkgray;
  width: 20%;
  height: 20%;
}

.queen {
  padding: 10px;
  font-size: 30px;
}

.post-title {
  color: palevioletred;
  font-size: 40px;
  padding-top: 10px;
}

.contact-title {
  color: palevioletred;
  padding: 1px;
}

#picture {
  padding: 10px;
}

body {
  background-color: floralwhite;
}
